<div class="modal fade" id="din_Modal" tabindex="-1" aria-labelledby="din_ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header position-relative border-bottom-0"
                 id="din_modal_header">
                <h3 class="modal-title fw-bold" id="din_Modal_Label"></h3>
                <button type="button" data-bs-dismiss="modal" aria-label="Close"
                        class=" position-absolute" id="din_modal_closebtn">
                    <i class="fas fa-times-circle text_pink fz_18 "></i>
                </button>
            </div>
            <div class="modal-body pb-5" id="din_modal_body">
            </div>
            <div class="modal-footer border-top-0" id="din_modal_footer">
            </div>
        </div>
    </div>
</div>
