@model WowDin.Frontstage.Models.ViewModel.OrderDetailsViewModel.ProductData

<div class="row py-1">
    <div class="col-12 col-sm-12 col-lg-12 bg_page rounded-3 py-1">
        <h6 class="fw-bold mb-0">@Model.ProductName</h6>
        <p class="text_gray mb-0">@Model.Note  @*/ $ @Model.UnitPrice / @Model.Quantity 份 *@ </p>
    </div>
</div>