@{
    ViewData["Title"] = "RecommendStore";
}

<div class="brand_recommend_text col-12 d-flex justify-content-between align-items-baseline mb-5">
    <h2 class="brand_recommend_title fw-bold text_blue">附近推薦店家</h2>
    <button onclick="getSearchNearbyPage()" class="brand_recommend_more">查看更多&nbsp;<i class="far fa-arrow-alt-circle-right"></i></a>
</div>
