
@{
    ViewData["Title"] = "Customer";
}

<div class="response_bg_wrap bg_page">
    <div class="container container_wid p-4">
        <div class="row write-row">

            <div class="col text-center disappear border-right">
                <h5 class="mt-4 ti">官方客服</h5>
                <hr>
                <img src="~/img/Home/wowdin-linebot.png" class="QRcode"/>
                @*<img src="~/img/Home/NiDinQRcode.jpg" alt="" >*@
                <h5 class="line_ID">ID: @@nidin</h5>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="text-start mt-5 fw-bold p123">
                        1. 手機登入LINE，點選「加入好友」
                        <br>
                        2. 掃描上方行動條碼或輸入ID「@@nidin」
                        <br>
                        3. 將Nidin加入好友獲得更即時的服務
                    </p>
                </div>
                <div>
                    <button class="line_friend mt-3">
                        加為好友
                    </button>
                </div>



                <div>
                    <p class="mt-2 mb-2 text_pink fw-bold">
                        週一至週五 9:30-12:00、13:30-18:30
                    </p>
                </div>
            </div>



            <div class="col col-lg-7 mb-5">
                <h5 class="mt-4 text-center ti">常見問題</h5>
                <hr>

                <div class="accordion" id="accordionPanelsStayOpenExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                收不到手機認證碼
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading1">
                            <div class="accordion-body">
                                <p>
                                    1. 請確認是否使用 Chrome, Safari, Firefox 瀏覽器，以及是否為正常狀態 (非私密瀏覽、非無痕視窗)<br>
                                    2. 請確認網路訊號狀態，是否有設定任何阻擋<br>
                                    3. 請確認手機號碼是否填寫正確
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                門市是否可外送
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading2">
                            <div class="accordion-body">
                                <p>可至菜單頁中點擊取餐來查看各門市的外送設定， 門市依下訂金額與外送距離來評估是否接單。 部分門市會額外收取外送費用，請依各門市設定為主。</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                有綁定信用卡，但門市無法使用
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading3">
                            <div class="accordion-body">
                                <p>很抱歉，各門市有不同的付款方式設定。若您有信用卡需求，歡迎填寫意見回饋，我們會為您向門市爭取</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapse4">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                無法使用電子載具
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading4">
                            <div class="accordion-body">
                                <p>很抱歉，各門市有不同的開立發票設定。若您有電子載具需求，歡迎填寫意見回饋，你訂會為您向門市爭取</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="true" aria-controls="panelsStayOpen-collapse5">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                想變更或取消訂單
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading5">
                            <div class="accordion-body">
                                <p>門市尚未接單，可直接至訂單明細取消訂單， 門市已接單，請直接撥打電話給門市，才能即時變更訂單</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="true" aria-controls="panelsStayOpen-collapse6">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                收到的商品有誤
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading6">
                            <div class="accordion-body">
                                <p>如有任何商品內容的錯誤，最即時的方式請直接聯絡門市，也可在訂單下評價或給予回饋</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" aria-expanded="true" aria-controls="panelsStayOpen-collapse7">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                訂單有符合活動，但沒收到折價券
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading7">
                            <div class="accordion-body">
                                <p>請確認該筆訂單的狀態是否為完成狀態。 非完成狀態時，可聯絡門市進行訂單狀態變更。 完成狀態時，請聯絡客服</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse8" aria-expanded="true" aria-controls="panelsStayOpen-collapse8">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                登入找不到訂單
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading8">
                            <div class="accordion-body">
                                <p>
                                    請確認下訂時與現在是否為相同帳號 (可至會員確認名稱及登入來源)
                                    若使用 Facebook 且需重新登入，請開啟 <a href="https://www.facebook.com/" target="_blank" class="fb_btn">Facebbok</a> 進行登入登出
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading9">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse9" aria-expanded="true" aria-controls="panelsStayOpen-collapse9">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                有綁定 LINE 訂單通知，但無收到通知
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading9">
                            <div class="accordion-body">
                                <p>
                                    請確認是否將 <a href="" target="_blank" class="fb_btn">LINE Notify</a> 取消封鎖設定
                                    或是使用以下步驟加入 LINE Notify 官方帳號<br>
                                    1. 於LINE應用程式內依序點選「加入好友」＞「ID／電話號碼」後，輸入「@@linenotify 」並進行搜尋<br>
                                    2. 點選「 加入 」
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="true" aria-controls="panelsStayOpen-collapse10">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                點擊按鈕無反應
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading10">
                            <div class="accordion-body">
                                <p>
                                    1. 請確認是否使用 Chrome, Safari, Firefox 瀏覽器，以及是否為正常狀態 (非私密瀏覽、非無痕視窗)<br>
                                    2. 請確認網路訊號狀態，是否有設定任何阻擋<br>
                                    3. 請確認是否有關閉cookie存取的設定<br>
                                    4. 可嘗試重新整理頁面
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-heading11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse11" aria-expanded="true" aria-controls="panelsStayOpen-collapse11">
                                <div class="bg_pink star">
                                    <i class="fas fa-star c  star_i"></i>
                                </div>
                                我是商家，想加入你訂
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse11" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-heading11">
                            <div class="accordion-body">
                                <p>請直接加入你訂Nidin的官方客服，將會有客服替您服務</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="official_btn">
                            官方客服
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS{ 
    <link href="~/css/Home/customer.css" rel="stylesheet" />
    
}