@model MemberEditPasswordDataModel

@{
    ViewData["Title"] = "修改密碼";
}

<main class="bg_page vh-100 p-3">
    <div class="member_block_m bg-white mx-3 mx-sm-auto px-3  rounded_corner pt-3 pb-3 shadow-sm">
        <h1 class="text-center h5 fw-bold">修改密碼</h1>
        <span class="d-block w-100 bg-secondary opacity-25 h-1px my-3"></span>
        <form method="post" asp-controller="Member" asp-action="EditPassword" class="member_content_m mx-auto d-flex flex-column">
            
            <input name="UserAccountId" value="@ViewData["id"]" hidden/>
            <p class="fz_15 my-2">
                <span class="text_pink">＊</span>
                舊密碼
            </p>
            <div class="input-group">
                <input name="Password" type="password" class="form-control border-end-0 input_noshadow" required minlength="6" maxlength="64">
                <a class="input-group-text icon_social bg-white showBtn"><i class="fas fa-eye"></i></a>
                <a class="input-group-text icon_social bg-white hideBtn"><i class="fas fa-eye-slash"></i></a>
            </div>
            <span class="text-end fs-12 text-secondary fw-normal">6-64位英數混合，英文需區分大小寫</span>
            <span asp-validation-for="Password" class="d-block text_pink mb-3"></span>

                    
            <p class="fz_15 my-2">
                <span class="text_pink">＊</span>
                新密碼
            </p>
            <div class="input-group">
                <input name="NewPassword" type="password" class="form-control border-end-0 input_noshadow" required minlength="6" maxlength="64">
                <a class="input-group-text icon_social bg-white showBtn"><i class="fas fa-eye"></i></a>
                <a class="input-group-text icon_social bg-white hideBtn"><i class="fas fa-eye-slash"></i></a>
            </div>
            <span class="text-end fs-12 text-secondary fw-normal">6-64位英數混合，英文需區分大小寫</span>
            <span asp-validation-for="NewPassword" class="d-block text_pink mb-3"></span>

            <p class="fz_15 my-2">
                <span class="text_pink">＊</span>
                再次輸入新密碼
            </p>
            <div class="input-group">
                <input name="CheckNewPassword" type="password" class="form-control border-end-0 input_noshadow" required minlength="6" maxlength="64">
                <a class="input-group-text icon_social bg-white showBtn"><i class="fas fa-eye"></i></a>
                <a class="input-group-text icon_social bg-white hideBtn"><i class="fas fa-eye-slash"></i></a>
            </div>
            <span class="text-end fs-12 text-secondary fw-normal">6-64位英數混合，英文需區分大小寫</span>
            <span asp-validation-for="CheckNewPassword" class="d-block text_pink mb-3"></span>

            <span class="text_pink text-center fw-bold mb-3">@ViewData["ErrorMessage"]</span>
            <button type="submit" class="btn mx-auto bg_pink text-white fw-bold py-3 editpassword_btn my-sm-3">修改密碼</button>
        </form>
    </div>
</main>

@section topCSS{
    <link href="~/css/Member/member_style.css" rel="stylesheet"/>
}

@section endJS{
    <script src="~/js/Member/ShowPassword.js"></script>
}
