@{
    var isLogin = User.Identity.IsAuthenticated;
}

@if (isLogin)
{
    <li class="nav-item">
        <a id="logout_Se" class="nav-link active fz_17" aria-current="page" href="/Member/Logout">登出</a>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/Shared_layout/logo1.jpg" alt="..." class="rounded-circle" height="22px">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Member/MemberCardList">會員資料</a></li>
            <li><a class="dropdown-item" href="/Member/EditPassword">修改密碼</a></li>
            @*<li><a class="dropdown-item" href="/Member/CreditCard">信用卡</a></li>*@
            <li><a class="dropdown-item" href="/Activity/Coupon">我的券夾</a></li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a id="login_Se" class="nav-link active fz_17" aria-current="page" href="/Member/Login">登入</a>
    </li>
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/Shared_layout/logo1.jpg" alt="..." class="rounded-circle" height="22px">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Member/MemberCardList">會員資料</a></li>
        </ul>
    </li>
}
