@model ForgetPasswordDataModel

@{
    ViewData["Title"] = "忘記密碼";
    Layout = "_Login";
}

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">忘記密碼</h1>
                                <p class="mb-4">請輸入您在Wowdin註冊的信箱，我們將寄送重設密碼信給您。</p>
                            </div>
                            <div id="app" v-cloak>
                                <form class="user" method="post" asp-controller="Account" asp-action="ForgetPassword">
                                    <div class="form-group">
                                        @*<input type="email" name="Email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="信箱">*@
                                        <input type="email" name="Account" v-model="inputData.account" :class="{ 'is-invalid': inputDataCheck.accountError }" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="信箱">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.accountErrorMsg }}
                                        </div>
                                    </div>
                                    <span class="d-block mt-2 text_pink mb-2">@ViewData["ErrorMessage"]</span>
                                    <button :disabled="!addVerify" type="submit" class="btn btn-pink btn-user btn-block">
                                        寄送重設密碼信
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section endJS
{
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                inputData: {
                    account: ''
                },
                inputDataCheck: {
                    accountError: false,
                    accountErrorMsg: ''
                },
                addVerify: false
            },
            watch: {
                'inputData.account': {
                    handler(){
                        if(this.inputData.account == ''){
                            this.inputDataCheck.accountError = true
                            this.inputDataCheck.accountErrorMsg = '信箱不得為空'
                        }
                        else{
                            this.inputDataCheck.accountError = false
                            this.inputDataCheck.accountErrorMsg = ''
                        }
                        this.checkVerify()
                    }
                }
            },
            methods: {
                checkVerify(){
                    for(let prop in this.inputDataCheck){
                        if(this.inputDataCheck[prop] == true){
                            this.addVerify = false
                            return 
                        }
                        this.addVerify = true
                    }
                }
            }
        })
    </script>
}
