/* 頁面名稱_用途_功能組成。ex. index_search_input */

/* section.bg_page{
    height: 100vh; 
}*/
#bg_color {
    background-color: var(--din-bg-page);
}

#gotoOrderDetail:hover, #gotoOrderDetail:active {
    text-decoration: none;
}

.bg_lightpink {
    background-color: rgba(255,100,130,0.08);
}

.card {
    border: none;
    border-radius: 8px;
}

#cart_card {
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.card-header:first-child {
    border-radius: 8px 8px 0px 0px;
    color: white;
}

.order_detail_groupbuy {
    border: 1px solid var(--din-text-disable-input);
    color: var(--din-text-normal);
}


.order_detail_brandLogo, .cart_detail_brandLogo {
    border: 1px solid var(--din-text-disable-input);
    border-radius: 50%;
    width: 25%;
}

hr {
    color: var(--din-text-normal);
}


.rounded-pill.bg_pink {
    font-size: 13px;
}

/* order details */
.rounded-pill.bg_blue {
    font-size: 13px;
}

.fa-trash {
    right: 5%;
    top: 33%
}
/* order details */
/* cart details */
.cartDetails_step_num {
    border-radius: 50%;
    background-color: var(--din-main-blue);
    width: 24px;
    height: 24px;
}

.cart_details_listgroup {
    margin: 20px 0;
}

.cart_groupbuy_button {
    width: 60px;
    height: 60px;
}

.cart_details_inputTxt {
    position: absolute;
    z-index: 4;
    line-height: 1;
    top: -1px;
    left: 25px;
    background-color: var(--din-main-white);
    padding: 0 8px;
    color: var(--din-text-normal);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.form-select {
    background-image: url(./right-arrow.png);
}

.fa-angle-up {
    color: var(--din-main-blue);
    position: absolute;
    bottom: 0;
    right: 0;
}

.cart_details_activity {
    border: 1px solid var(--din-text-disable-input);
}

.cart_details_border {
    border-bottom: 1px solid var(--din-text-disable-input);
    border-bottom-style: dashed;
}


.cart_details_map {
    background-color: var(--din-main-white);
    text-decoration: none;
    border-left: none;
}

.cart_details_mapInput {
    border-right: none;
}

.form-check-input.cart_details_checkbox:checked {
    background-color: var(--din-main-blue);
    border-color: var(--din-main-blue);
}
/* cart details */
/* cart_details_step2 */
.cart_details_step2Brief {
    width: 90%;
}

.cart_details_step4_table * td {
    padding: 10px;
}

.order_details_step5_table * td {
    padding: 10px;
}

.order_details_list > li {
    border: none;
    border-bottom: 1px solid var(--din-bg-page);
}

.cart_order_details_Img {
    width: 60px;
    height: 60px;
}

.order_details_page_stars:hover {
    transform: scale(1.5);
    transition: transform .3s;
}
/* .cart_details_nextBtn:hover,.cart_details_nextBtn:focus{
    color: var(--din-main-white);
    border: none;
    box-shadow: none;
} */
.accordion-button:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
}

.btn_noShadow_noBorder:focus {
    border: none;
    box-shadow: none;
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border: none;
    box-shadow: none;
}

.input_block_border:focus {
    border: 1px solid black;
}

.order_details_rateBtn {
    color: white;
    border: none;
}

.bg_btnGray {
    background-color: var(--din-text-score)
}

.accordion-button::after {
    margin-left: auto;
}

section {
    height: 100vh;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-radius: 5px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}

/* 找區域Modal */
.searchzone_finddistrict_dropdown_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.70);
    border: 0.5px solid rgba(0, 0, 0, 0.513);
    height: 40px;
}

    .searchzone_finddistrict_dropdown_btn:hover,
    .searchzone_finddistrict_imput input:hover {
        border: 0.5px solid black;
    }

.searchzone_finddistrict_input input {
    height: 40px;
    color: rgba(0, 0, 0, 0.70);
    border: 0.5px solid rgba(0, 0, 0, 0.513);
    border-radius: 5px;
    text-indent: 8px;
    line-height: 28px;
    letter-spacing: 0.13118px;
}

.searchzone_finddistrict_btn {
    width: 93%;
    border-radius: 5px;
    height: 65px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 576px) {
    p.order_detail_card_label {
        text-align: center;
    }

    .cart_detail_brandTxt {
        font-size: var(--din-letter-size-nav-sub);
    }

    .order_details_border {
        border-right: none;
    }

    .order_details_page_bill.rounded-pill {
        font-size: 10px;
        top: 70%;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 576px) {
    p.order_detail_card_label {
        text-align: center;
    }

    .cart_detail_brandTxt {
        font-size: var(--din-letter-size-nav-sub);
    }

    .order_details_page_bill.rounded-pill {
        font-size: 10px;
        top: 70%;
        left: 0;
        right: 0;
    }

    .order_details_border {
        border-right: none;
    }
}

@media screen and (min-width: 992px) {
    p.order_detail_card_label {
        text-align: end;
    }

    .cart_detail_brandTxt {
        font-size: var(--din-letter-size-nav);
    }

    .order_details_border {
        border-right: dashed 5px var(--din-bg-page);
    }

    .order_details_page_bill.rounded-pill {
        font-size: 10px;
        top: 70%;
        left: 0;
        right: 0;
    }
}
